#!{{ lookPath "sh" }}

# templates
{{ template "helpers" . }}

bot "run_before_00-bootstrap.sh"
warn "files change"
running "checking system platform"
{{ if (eq .chezmoi.os "linux") }}
	ok "linux platform"
    running "clean, update & upgrade system"
    sudo apt autoremove && sudo apt update && sudo apt upgrade
{{ else if (eq .chezmoi.os "darwin") }}
	ok "macos platform"
    running "clean, update & upgrade system"
    {{ template "sudo" . }}
    sudo softwareupdate -i -a
    {{ template "brew" . }}
{{ else }}
    fail "platform not supported"
	exit 0
{{ end }}