{{/* user information */}}
{{- $name := (default "NND" (promptString "full name" "NND")) -}}
{{- $email := (default "d@nnd.vn" (promptString "email address" "d@nnd.vn")) -}}
{{- $key := (default "0x16704DD694D8A2CD" (promptString "gpg key id" "0x16704DD694D8A2CD")) -}}
{{- $backup := (promptString "backup media" "/path/to/backup/media") -}}
{{- $device := (default "NND DEVICE 0X" (promptString "device name" "NND DEVICE 0X")) -}}

{{/* boolean feature tags */}}
{{/* $headless := false -*/}}

encryption: "gpg"

gpg:
  recipient: {{ $key | quote }}
  args: ["--quiet"]

git:
    autoCommit: true
    autoPush: false

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  key: {{ $key | quote }}

scriptEnv:
    BACKUP_MEDIA: {{ $backup | quote }}
    DEVICE_NAME: {{ $device | quote }}

# https://www.chezmoi.io/user-guide/advanced/install-your-password-manager-on-init/
# hooks:
#   read-source-state:
#     pre:
#       command: .local/share/chezmoi/.install-password-manager.sh
