#!/bin/bash

set -eufo pipefail
gum log -sl debug "$(basename "$0")"


{{ if (eq .host.distro.id "darwin") -}}
brew cleanup && brew update && brew upgrade
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .software.darwin.taps -}}
tap {{ . | quote | replace " " "\", \"" }}
{{ end -}}
{{ range .software.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .software.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
