#!/bin/bash

set -eufo pipefail
echo "03-configure.sh"

# change shell
# echo "sudo chsh -s $(which zsh) $USER"

{{- if .host.headless -}}

# tailscale
tailscale status

# docker
# need to logout & login again
# sudo usermod -aG docker $USER

{{- else -}}

# desktop configure

{{- end -}}
