#!/bin/bash

set -eufo pipefail
gum log -sl debug "$(basename "$0")"

sudo apt autoremove && sudo apt update && sudo apt full-upgrade -y
sudo apt install -y {{ .software.linux_desktop.apts | sortAlpha | uniq | join " " }}

{{ range .software.linux_desktop.snaps | sortAlpha | uniq -}}
sudo snap install {{ . }}
{{ end -}}

{{ range .software.linux_desktop.scripts -}}
echo {{ .name }}
{{ end -}}
