#!/bin/bash

set -eufo pipefail
echo "01-install.sh"

# update & upgrade
sudo apt autoremove && sudo apt update && sudo apt full-upgrade -y

# install requirements
sudo apt install -y {{ .packages.linux.pkgs | join " " }}

# tailscale
if [ $(command -v tailscale) ]; then
    echo "tailscale already installed: $(tailscale --version)"
else
    echo "tailscale not found, installing tailscale"
    curl -fsSL https://tailscale.com/install.sh | sh
    echo "tailscale successfully installed: $(tailscale --version)"
fi

{{ if .host.headless }}
# docker
if [ $(command -v docker) ]; then
    echo "docker already installed: $(docker --version | grep -oE '[0-9]+\.[0-9]+\.[0-9]+')"
else
    echo "docker not found, installing docker"
    curl -fsSL https://get.docker.com | sh
    echo "docker successfully installed: $(docker --version | grep -oE '[0-9]+\.[0-9]+\.[0-9]+')"
fi
{{ else }}
# bun
echo "looking for bun"
if [ $(command -v bun) ]; then
	echo "bun already installed: $(bun --version)"
else
	echo "bun not found, installing bun"
	curl -fsSL https://bun.sh/install | bash
	export PATH="$HOME/.bun/bin:$PATH"
	echo "bun successfully installed: $(bun --version)"
fi

# volta
echo "looking for volta"
if [ $(command -v volta) ]; then
	echo "volta already installed: $(volta --version)"
else
	echo "volta not found, installing volta"
	curl https://get.volta.sh | bash
	echo "volta successfully installed: $(volta --version)"
fi
{{ end -}}
