#!/bin/bash

set -eufo pipefail
gum log -sl debug "$(basename "$0")"

{{ if (eq .host.distro.id "debian" "ubuntu") -}}
{{ if (or (not .host.headless) (not .host.ephemeral)) -}}
{{ range .software.linux.snaps -}}
sudo snap install {{ . }}
{{ end -}}
{{ end -}}
