#!/bin/bash

set -eufo pipefail
echo "03-configure.sh"

# change shell
# echo "sudo chsh -s $(which zsh) $USER"

{{ if .host.headless }}
# tailscale
tailscale_status=$(tailscale status)
if [[ "$tailscale_status" == *"Logged out."* ]]; then
  echo "tailscale is down"
  # sudo tailscale up --auth-key=tskey-auth-aBC-Xyz --operator=$USER
else
  echo "tailscale is up"
fi
tailscale status

# docker
sudo usermod -aG docker $USER # need to logout & login again
{{ else }}
# desktop configure
{{ end }}
