#!/bin/bash

set -eufo pipefail
echo "configure-network.sh"

{{ if .host.headless }}
# firewall
# tailscale status give error exit 1
ufw_status=$(sudo ufw status | grep -w "Status:")
if [[ $ufw_status == *"Status: active"* ]]; then
    echo "ufw is active"
else
    echo "ufw is inactive"
    sudo ufw enable
    sudo ufw default deny incoming
    sudo ufw default allow outgoing
    sudo ufw allow in on tailscale0
    # todo: limit range
    sudo ufw reload
    sudo ufw status verbose
fi
{{ end }}

# done
echo "done. note that some of these changes require a logout/restart to take effect"
