#!/bin/bash

set -eufo pipefail
echo "install-docker.sh"

{{ if not .host.headless }}
# bun
echo "looking for bun"
if [ $(command -v bun) ]; then
	echo "bun already installed: $(bun --version)"
else
	echo "bun not found, installing bun"
	curl -fsSL https://bun.sh/install | bash
	export PATH="$HOME/.bun/bin:$PATH"
	echo "bun successfully installed: $(bun --version)"
fi

# volta
echo "looking for volta"
if [ $(command -v volta) ]; then
	echo "volta already installed: $(volta --version)"
else
	echo "volta not found, installing volta"
	curl https://get.volta.sh | bash
	echo "volta successfully installed: $(volta --version)"
fi
{{ end -}}
