#!/bin/bash

set -eufo pipefail
echo "03-configure.sh"

# set hostname
# sudo hostnamectl set-hostname $(echo "$DEVICE_NAME" | tr ' ' '-' | tr '[:upper:]' '[:lower:]')
# sudo hostnamectl set-hostname "$DEVICE_NAME" --pretty

# change shell
# sudo chsh -s $(which zsh) $USER

{{ if .host.headless }}
# firewall
tailscale_status=$(tailscale status 2>&1)
if [[ "$tailscale_status" == *"Logged out."* ]]; then
  echo "tailscale is down"
  # sudo tailscale up --auth-key=tskey-auth-aBC-Xyz --operator=$USER
else
  echo "tailscale is up"
fi
tailscale status

ufw_status=$(sudo ufw status | grep -w "Status:")
if [[ $ufw_status == *"Status: active"* ]]; then
    echo "ufw is active"
else
    echo "ufw is inactive"
    # sudo ufw enable
    # sudo ufw default deny incoming
    # sudo ufw default allow outgoing
    # sudo ufw allow in on tailscale0
    # sudo ufw limit from 192.168.1.0/24 to any port 22 proto tcp
    # sudo ufw reload
fi
sudo ufw status verbose

# docker
sudo usermod -aG docker $USER

# fix "gpg --card-status" only show with "sudo"
# sudo usermod -aG plugdev $USER
{{ else }}
{{ end -}}

# gpg agent forward config
# https://wiki.gnupg.org/AgentForwarding
# sudo echo "StreamLocalBindUnlink yes" >> /etc/ssh/sshd_config
# echo "StreamLocalBindUnlink yes" | sudo tee -a /etc/ssh/sshd_config
