#!/bin/bash

set -eufo pipefail
gum log -sl debug "$(basename "$0")"

sudo apt autoremove && sudo apt update && sudo apt full-upgrade -y
sudo apt install -y {{ .software.linux_desktop.apts | sortAlpha | uniq | join " " }}

{{ range .software.linux_desktop.snaps | sortAlpha | uniq -}}
sudo snap install {{ . }}
{{ end -}}

{{ range .software.linux_desktop.scripts -}}
command_name={{ .name }}
command_script={{ .value }}
if [ $(command -v $command_name) ]; then
    echo "$command_name already installed: $($command_name --version | grep -oE '[0-9]+\.[0-9]+\.[0-9]+')"
else
    echo "$command_name not found, installing docker"
    eval "$command_script"
    echo "$command_name successfully installed: $($command_name --version | grep -oE '[0-9]+\.[0-9]+\.[0-9]+')"
fi
{{ end -}}
