#!/bin/bash

set -eufo pipefail
gum log -sl debug "$(basename "$0")"

{{ if .host.is_headless -}}
gum log -sl info "looking for docker"
if [ $(command -v docker) ]; then
    gum log -sl info "docker already installed: $(docker --version | grep -oE '[0-9]+\.[0-9]+\.[0-9]+')"
else
    gum log -sl info "docker not found, installing docker"
    curl -fsSL https://get.docker.com | sh
    gum log -sl info "docker successfully installed: $(docker --version | grep -oE '[0-9]+\.[0-9]+\.[0-9]+')"
fi
{{ end -}}
