#!/bin/bash

set -eufo pipefail
gum log -sl debug "$(basename "$0")"

{{ if .host.is_headless -}}
if groups | grep -q docker; then
  echo "current user is in the 'docker' group"
else
  echo "current user is not in the 'docker' group"
  sudo usermod -aG docker $USER
fi

gum log -sl info 'done'
gum log -sl warn 'note that some of these changes may require a logout/restart to take effect'
{{ end -}}
