#!/bin/bash

set -eufo pipefail
gum log -sl debug "$(basename "$0")"

{{ if (and (eq .host.distro.id "debian" "ubuntu") (not .host.is_headless) (not .host.is_ephemeral)) -}}
{{ range .software.linux.snaps -}}
sudo snap install {{ . }}
{{ end -}}
{{ end -}}
